body {
  padding: 24px 24px 24px 24px;
}

hr {
  border-color: black;
  margin: 0 8px 0 8px;
}

button {
  border: 1px solid darkblue;
  border-radius: 8px;
}

/************* LECTURE OVERVIEW *************/
.lecture-overview {
  padding-left: 25%;
  padding-right: 25%;

  text-align: center;
}

.lecture-overview > div:first-child{
  font-size: 24pt;
}

/************* LECTURE META *************/
.lecture-meta {
  margin-bottom: 24px;
  min-width: 512px;
}

.lecture-meta > div:first-child {
  border: 1px solid darkblue;
  border-radius: 8px;
  padding: 8px;
  display: inline-block;
  margin-bottom: 8px;
}

.lecture-meta > div:first-child > div {
  padding: 4px;
}

.lecture-meta > div:first-child > div:first-child {
  font-weight: bold;
  border-bottom: 1px solid darkblue;
}

.lecture-meta.buttongroup > button {
  margin: 0 4px 0 4px;
}

/************* LECTURE *************/
.lecture.control-bar {
  position: sticky;
  top: 0;
}
.lecture.control-bar button {
  float: right;
}

.lecture.current-index-card {
  padding-left: 25%;
  padding-right: 25%;
  min-height: 256px;

  text-align: center;
}

.lecture.index-cards {
  display: inline-flex;
  flex-flow: wrap;
  width: 100%;
}

.index-card {
  border: 1px solid black;
  padding: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.index-card input {
  border: 0;
  border-bottom: 1px solid black;
  background: inherit;
}

.index-card.swedish,
.index-card.german {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4px;
}

.index-card.edit.swedish,
.index-card.edit.german {
  grid-template-columns: 2fr 10fr;
}

.index-card.verb {
  background-color: yellow;
}
.index-card.noun {
  background-color: limegreen;
}
.index-card.adj {
  background-color: indianred;
}

.add-index-card {
  border: 1px solid black;
  width: 128px;
  height: 128px;
  line-height: calc(130px - 16px);
  text-align: center;
  font-size: 64px;
  background-color: darkgrey;
}

.index-card.small {
  width: 128px;
  text-align: center;
  padding: 0;
  height: 128px;
  position: relative;
}
.index-card.small div {
  display: table;
  height: 50%;
  width: 100%;
  padding: 4px;
  /*line-height: 64px;*/
  text-align: center;
  vertical-align: middle;
}
.index-card.small div p {
  display: table-cell;
  vertical-align: middle;
}

.delete-overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
}

.index-card.small.focused {
  outline: 2px solid deepskyblue;
}


/************* YES NO QUIZ *************/
.quiz.yesno.root {
  height: calc(94vh - 48px); /*fill height but do not show scrollbar */
  width: 100%;
  outline: none;
  padding: 64px 0 24px 0;
}

.quiz.yesno.root > div {
  width: 25%;
  text-align: center;
  margin: auto;
}

.quiz.yesno.result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
}
.quiz.yesno.result hr {
  margin: 0;
}
.quiz.yesno.result button {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.quiz.yesno.current-card p {
  font-weight: bold;
}

.quiz.yesno.current-card.unturned hr,
.quiz.yesno.current-card.unturned .index-card.swedish {
  display: none;
}

.quiz.yesno > .buttongroup > button:first-child{
  float: left;
}

.quiz.yesno > .buttongroup > button:last-child{
  float: right;
}

.quiz.yesno.unturned > .buttongroup {
  display: none;
}


/************* STICKY NAVIGATION *************/
.sticky-navigation {
  position: absolute;
  top: 12px;
  right: 24px;
  display: inline-block;
}


.sticky-navigation > span:after {
  border: 1px solid black;
  padding: 0 12px 0 12px;
  margin-left: 12px;
  text-align: center;
  line-height: 24px;
  background: white;
}

.sticky-navigation.collapsed > span:after {
  content: "O"
}
.sticky-navigation.expanded > span:after {
  content: "X"
}
.sticky-navigation .collapse-container {
  display: inline-block;
}

.sticky-navigation .collapse-container > * {
  margin-left: 8px;
}

.sticky-navigation.collapsed > .collapse-container {
  visibility: hidden;
}


/************* RESPONSIVE *************/
@media(max-width: 768px) {
  body {
    padding-top: 48px;
  }

  .sticky-navigation > span:after,
  button {
    padding: 12px;
  }

  .lecture-meta {
    width: 100%;
    min-width: 0;
  }

  .lecture-overview,
  .lecture.current-index-card {
    padding-left: 5%;
    padding-right: 5%;
  }

  .quiz.yesno.root {
    padding: 0;
    display: table;
  }
  .quiz.yesno.root > div {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }

  .quiz.yesno.current-card .index-card {
    font-size: 24px;
  }
}