body {
  padding: 0 24px 24px 24px;
}

hr {
  border-color: black;
  margin: 0 8px 0 8px;
}

.lecture.control-bar {
  position: sticky;
  top: 0;
}
.lecture.control-bar button {
  float: right;
}

.lecture.current-index-card {
  padding-left: 25%;
  padding-right: 25%;
  min-height: 256px;

  text-align: center;
}

.lecture.index-cards {
  display: inline-flex;
  flex-flow: wrap;
  width: 100%;
}

.index-card {
  border: 1px solid black;
  padding: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.index-card input {
  border: 0;
  border-bottom: 1px solid black;
  background: inherit;
}

.index-card.swedish,
.index-card.german {
  border: none;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 4px;
}

.index-card.verb {
  background-color: yellow;
}
.index-card.noun {
  background-color: limegreen;
}
.index-card.adj {
  background-color: indianred;
}

.add-index-card {
  border: 1px solid black;
  width: 128px;
  height: 128px;
  line-height: calc(130px - 16px);
  text-align: center;
  font-size: 64px;
  background-color: darkgrey;
}

.index-card.small {
  width: 128px;
  text-align: center;
  padding: 0;
  height: 128px;
  position: relative;
}
.index-card.small div {
  display: table;
  height: 50%;
  width: 100%;
  padding: 4px;
  /*line-height: 64px;*/
  text-align: center;
  vertical-align: middle;
}
.index-card.small div p {
  display: table-cell;
  vertical-align: middle;
}

.delete-overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
}

.index-card.small.focused {
  outline: 2px solid deepskyblue;
}

@media(max-width: 768px) {
  .lecture.current-index-card {
    padding-left: 5%;
    padding-right: 5%;
  }
}